<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Deeper dive into Scram
                <small>Sorry, Scrum.</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li class="active">Diving</li>
            </ol>
        </div>

    </div>

    <div class="row">
	<h3>
      Deep Scrum</h3>
<p>This content is for sharing specific Scrum implementation stories and practical</p>

<h4>Success stories</h4>
<p>
Success story #1:  Scramstastic website 
Approach: The team applied scrum from the first day and they managed to deliver the web in time and with more quality than they all expected. They all were super engaged with the project and they learned most of the technologies used on the first sprints from scratch. 
What worked well: Team communication helped with the specification changes applied by the product owner. 
What didn’t work well: The timing was short but the  team put effort on it and make it through. 
What we learned: We learned to flexible with customer requirements, and with smaller feedback loops we now know that the customer can get a product closer to their needs. 
</p>

<p>Success story #2:
Approach: Our team implemented Scrum practices about a year ago at the start of a project in which we are producing a website for a non-profit organization. We chose to implement Scrum because our current Product Owner had used it in past projects successfully. 
What worked well: Our team responded well to daily stand-ups and bi-weekly retrospectives. Both of these practices allowed our team to come together and synthesize ideas and identify potential blockers before our work diverged too much.
What didn’t work well: It took about four sprints before our team settled into a routine of meetings, retrospectives, review, etc. We weren’t used to doing so much “talking” in addition to “working”.
What we learned: We learned that parts of the scrum approach worked great for us, and some parts didn’t work well for us, but that we didn’t necessarily need to incorporate all parts of Scrum to be successful.
</p>

<p>
		<img src="images/ScrumFrameworkTest.png">
</p>

<h4>Glossary</h4>
<p>This content is for defining common Scrum terms and how they Sprint</p>
<ul>
<li><b>Sprint</b> A sprint is a regular, repeatable work cycle in scrum methodology during which work is completed and made ready for review.</li>
<li><b>Sprint planning</b> Sprint planning is a collaborative effort involving a ScrumMaster, who facilitates the meeting, a Product Owner, who clarifies the details of the product backlog items and their respective acceptance criteria, and the Entire Agile Team, who define the work and effort necessary to meet their sprint commitment</li>
<li><b>Product Backlog</b> The Product Backlog is a list of all things that needs to be done within the project.</li>
<li><b>Sprint retrospective</b> The sprint retrospective is a meeting facilitated by the ScrumMaster at which the team discusses the just-concluded sprint and determines what could be changed that might make the next sprint more productive</li>
</ul>
<h4>Other external resources</h4> 
<ul>
<li>Jeff Sutherland; Ken Schwaber (2013). "Scrum Guides". <a href="http://www.scrumguides.org/">ScrumGuides.org</a>. Retrieved July 26, 2017.</li>
<li>N.S. Janoff; L. Rising (2000). <a href="http://faculty.salisbury.edu/~xswang/Research/Papers/SERelated/scrum/s4026.pdf">"The Scrum Software Development Process for Small Teams"</a> (PDF). Retrieved February 26, 2015.</li>
<li>Deemer, Pete; Benefield, Gabrielle; Larman, Craig; Vodde, Bas (2009). <a href="http://www.scrumprimer.org/">"The Scrum Primer"</a> Retrieved June 1, 2009.</li>
</ul>
</p>        
</div>

</div>
<!-- /.container -->

