<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Intro to Scram
                <small>Sorry, Scrum.</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li class="active">Intro</li>
            </ol>
        </div>

    </div>

    <div class="row">
	<h3>
      Introduction: What is Scrum?</h3>
    <h4>What is Scrum?</h4><p>
Scum is a way to get things done in a flexible manner. Scrum allows for features to be removed and added while the product is under development by implementing a constant feedback cycle. Scrum employs an iterative, incremental approach to optimize predictability and control risk.</h4>
<h4>Why should Scrum be used?</h4>
<p>Scrum has the potential to enhance project management across a variety of industries. By using Scrum, teams can become more Agile, learning how to react more quickly and respond more accurately to the unexpected changes and feedback. By staying focused, collaborating, and communicating, teams  can accomplish what truly needs to be done successfully.</p>
<h4>Who benefits from Scrum?</h4>

<p>Scrum is useful for teams and companies that want to have early feedback on the product being developed. When scrum teams take responsibility for projects and products, they can produce great results.</p>

<p>Applying Scrum in development can lead to reducing the cost of production. Product costs are primarily determined by the time and effort spent on new releases. But companies are rarely able to estimate the real, total costs of production.</p>

<h4>The benefits for any team that wants to be more Agile are :</h4> 
<ul>Better quality product</li>
<li>Decreased time to market</li>
<li>Higher customer satisfaction</li>
<li>Efficient response to user feedback and requests</li>

        </div>

</div>
<!-- /.container -->

