<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Scram in Practise
                <small>teamz using SCRAM</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li class="active">Scram in Practise</li>
            </ol>
        </div>

    </div>

    <div class="row">
<h3>How do I run Scrum?</h3>
<p>This content is for how to implement Scrum values and approaches as a fast track:</p>
<dl>
<dt>Step #1: Get your backlog in order!</dt><dd>Start listing all your tasks and describe them a bit , you need to write what would make that task complete.</dd>
<dt>Step #2: How to estimate your product backlog</dt><dd>Remember the last time you did the same task, then go for it and extrapolate. If you miss the estimate you will be able to correct on the Review step, and with time you will learn.</dd>
<dt>Step #3: Sprint Planning/clarify requirements</dt><dd>Ensure whatever gets onto the Sprint has clear requirements, anyone in the team should be able to understand what has to be done.</dd>
<dt>Step #4: Sprint Planning/estimate tasks</dt><dd>With the team come to an agreement on how long should it take each task. If the task is “research” set a limit on how much time should be invested on understanding the task.</dd>
<dt>Step #5: Create a collaborative workspace</dt>Use whatever you have at hand, ensure is not difficult to edit, it should be nice and clean. Should allow for some failed actions to be stored.</dd>
<dt>Step #6: Sprint!</dt><dd>Go! Do some stuff, pick one card and ensure the requirements are met.</dd>
<dt>Step #7: Stand up and be counted!</dt><dd>Every day you should be meeting with the team and everybody should have a clear understanding on what he or she is planning to get done, this should be less than 15 minutes and should allow for Sprint updating the cards.</dd>
<dt>Step #8: Track progress with a daily burndown chart</dt><dd>This will show up automatically if you use Jira, which is nice.</dd> 
<dt>Step #9: Finish when you said you would</dt><dd>Finish, and document any problems that you had or create tickets/cards for next sprint if you found yourself with interesting stuff to do.</dd>
<dt>Step #10: Review, reflect, repeat...</dt>
</dl>

</div>

</div>
<!-- /.container -->

